<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->

<!--    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />-->
<!--    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />-->
<!--    <link href="../static/css/room.css" th:href="@{/css/room.css}" rel="stylesheet" />-->
<!--    <link href="../static/css/room-by-id.css" th:href="@{/css/room-by-id.css}" rel="stylesheet" />-->

<!--    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js" ></script>-->
<!--    <script th:src="@{/js/chat/chat.js}" src="../static/js/chat/chat.js" ></script>-->

<!--</head>-->

<!--<body>-->

<!--<div class="content">-->

<!--    <div class="wc-rooms">-->
<!--        &lt;!&ndash;<h2>Room ${room.name}</h2>&ndash;&gt;-->
<!--        <h2 id="room-header" th:room-id="${room.id}" th:text="@{'Room: ' + ${room.name}}"></h2>-->

<!--        <div>-->
<!--            <div id="message-box">-->
<!--                <div th:each="message : ${messages}" class="wc-message">-->
<!--                    <div>-->
<!--                        <img th:src="${message.user.avatar}">-->
<!--                        <div class="wc-message-author" th:text="${message.user.name}"></div>-->
<!--                    </div>-->
<!--                    <div th:text="${message.text}"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="input-message">-->
<!--                <input class="form-control" id="message">-->
<!--                <button class="btn btn-outline-primary" id="send-button">-->
<!--                    Send-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<!--</body>-->

<!--</html>-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/room.css" th:href="@{/css/room.css}" rel="stylesheet" />
    <link href="../static/css/room-by-id.css" th:href="@{/css/room-by-id.css}" rel="stylesheet" />

    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js" ></script>
    <script th:src="@{/js/chat/chat.js}" src="../static/js/chat/chat.js" ></script>

</head>

<body>

<div class="content">

    <div class="wc-rooms">
        <!--<h2>Room ${room.name}</h2>-->
        <h2 id="room-header" th:room-id="${room.id}" th:text="@{'Room: ' + ${room.name}}"></h2>

        <div>
            <div id="message-box" class="wc-message-box">
                <div th:each="message : ${messages}" class="wc-message" >
                    <div>
                        <img th:src="${message.user.avatar}">
                        <div class="wc-message-author" th:text="${message.user.name}"></div>
                    </div>
                    <div th:text="${message.text}"></div>
                </div>
            </div>
            <!--<div class="wc-message">Message 1</div>-->
            <!--<div class="wc-message">Message 2</div>-->
            <!--<div class="wc-message">Message 3</div>-->
            <!--<div class="wc-message">Message 4</div>-->
            <!--<div class="wc-message">Message 5</div>-->
            <!--<div class="wc-message">Message 6</div>-->
            <!--<div class="wc-message">Message 7</div>-->
            <!--<div class="wc-message">Message 8</div>-->
            <div class="input-message">
                <input class="form-control" id="message">
                <button class="btn btn-outline-primary" id="send-button">
                    Send
                </button>
            </div>
        </div>

    </div>

</div>

</body>

</html>