<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
        <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/room.css" th:href="@{/css/room.css}" rel="stylesheet" />

    </head>

    <body>

    <div class="content">

        <div class="wc-rooms">
            <h2>List of rooms</h2>

            <div>
                <div th:each="room : ${rooms}" class="wc-room-block">
                    <a th:href="@{'/rooms/' + ${room.id}}" th:text="${room.name}"></a>
                </div>
            </div>
        </div>

    </div>

    </body>

</html>